<p id="notice"><%= notice %></p>
<% if !notice.nil? %>
  <script>
    failedLogin();
  </script>
<% end %>
<% provide(:title, "Log in") %>
<h1>Log in</h1>
<div class="col-xs-6">
  <%= render partial: 'shared/login_form' %>
</div>
