<div class="col-xs-6 col-md-4">
  <div class="card-panel cyan darken-4 white-text">
    <span class="card-title"><%= comment.body %></span>
    <br />
    <label>Commenter</label>
    <%= comment.user_name %>
  </div>
</div>
