<h2 class="text-center">Users</h2>
<% @users.each do |user| %>
  <a href="/users/<%= user.id %>" class="user-card card-panel teal">
    <span class="white-text"><%= user.name %></span>
  </a>
<% end %>
