<p id="notice"><%= notice %></p>
<% if !notice.nil? %>
  <script>
    sweetLogin();
  </script>
<% end %>
<h2 class="text-center"><%= @user.name %></h2>
<% @posts.each do |post| %>
  <%= render partial: "/posts/post", locals: {post: post} %>
<% end %>
