<%= simple_form_for(:session, url: login_path, defaults: {wrapper_html: {class: 'input-field'}, required: false}) do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <div class="row">
    <div class="col-xs-5 no-pad">
      <button name="commit" type="submit button" class="btn btn-success btn-block">Login</button>
    </div>
    <div class="col-xs-2 text-center">
      or
    </div>
    <div class="col-xs-5 no-pad">
      <a href="<%= new_user_path %>" class="btn btn-info btn-block">Sign Up</a>
    </div>
  </div>
<% end %>
