<a href='posts/new' class="btn btn-default btn-block <%= 'disabled' if !logged_in? %>">New Text Post <%= '(Log in to Post)' if !logged_in? %></a>
<br />
<a class="btn btn-default btn-block disabled">New Link Post (Not available)</a>
