<div class="col-xs-12 main-posts">
  <% if uri(post.content) %>
  <a href="<%= post.content %>" class="btn btn-link main-post-links"><%= post.content %></a>
  <% else %>
  <span class="main-posts"><%= post.content %></span>
  <% end %>
  <span class="label label-info pull-right"><%= post.user.name %></span>
</div>
