<div class="top-row row">
  <div class="col s<%= col_size[:left] %>  no-padding">
    <label>Creator</label>
  </div>

  <div class="col s<%= col_size[:center] %> center">
    <a href='/posts/<%= post.id %>'>Full Post</a>
  </div>

  <div class="col s<%= col_size[:right] %> no-padding">
    <div class="right">
      <label>Category</label>
    </div>
  </div>

</div>
