// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.btn-info {
  color: #fff !important
}

.no-pad {
  padding: 0 0 0 0;
}

.bootstrap-h2 {
  margin-top: 0
}

.bootstrap-a-h2 {
  padding-top: 0
}

.navbar-links {
  font-size: 28px;
  padding-top: 20px !important
}

.main-posts {
  font-size: 1.8vw;
  margin-top: 10px;
  margin-bottom: 10px;

}

.main-post-links {
  font-size: 1.8vw;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0 0 0 0;
  border: 0 0 0 0;
}
