// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-pad {
  padding: 0 0 0 0;
}

.bootstrap-header {
  margin-top: 0
}

.bootstrap-a-header {
  padding-top: 0
}

.navbar-links {
  font-size: 28px;
  padding-top: 20px !important
}
