<p id="notice"><%= notice %></p>

<h2 class="text-center">
  <strong>Category:</strong>
  <%= @category.title %>
</h2>
<% @posts.each do |post| %>
  <%= render "/posts/post", post: post, full_post: false %>
<% end %>
